.gallery img{
    width:100%

    
}

h2{
   font-family: impact,fantasy;
    text-align: center;
    font-size: 30xp;
    color:cornflowerblue;
    font-style: italic
   
}

h4{font-family: impact,fantasy;
    text-align: center;
    font-size: 30xp;
    font-style: italic ;
    color:cornflowerblue;
    
}